.footer {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.footer-text p {
  margin: 0;
  color: #fff;
} 
@media (max-width: 768px) {
  .footer {
    height: 150px;
    padding: 15px 10px;
  }

  .footer-logo {
    width: 80px;
    margin-bottom: 10px;
  }

   .footer-text {/* ne marche pas  */
    font-size: 12px;
    padding: 0 10px;
    text-align: center;      
    word-wrap: break-word;   
    white-space: normal;     
    line-height: 1.5;        
}
}

