.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;

}

.header__logo img {
  width: 120px;
  height: auto;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.2s;
}

.header__link:hover {
  color: #ff6060;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 18px; /* plus de hauteur */
  }

  .header__logo img {
    width: 95px; /* logo légèrement plus grand */
  }

  .header__nav {
    gap: 14px; /* plus d’espace entre les liens */
  }

  .header__link {
    font-size: 15px; /* texte un peu plus lisible */
    text-transform: uppercase;
  }
}
