.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.header__logo img {
  width: 120px;
  height: auto;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link,
.header__link:link,
.header__link:visited,
.header__link:hover,
.header__link:active {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.header__link--active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 18px;
  }

  .header__logo img {
    width: 95px;
  }

  .header__nav {
    gap: 14px;
  }

  .header__link {
    font-size: 15px;
    text-transform: uppercase;
  }
    .page404 {
    padding-top: 60px; 
    padding-left: 20px;
    padding-right: 20px;
  }
}