.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
  color: orange;
}

.page404 h1 {
  font-size: 8rem;
  margin: 0 0 20px 0;
}

.page404 p {
  font-size: 1.5rem;
  margin: 0;
}