.page404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

}

.page404-title {
  font-size: 8rem;
  color: #ff6060;
}

.page404-text {
  margin-top: 20px;
  color: #ff6060;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.link-home,
.link-home:link,
.link-home:visited,
.link-home:hover,
.link-home:active {
  color: #000;           
  font-weight: 400;
  text-decoration: underline;
  margin-top: 20px;
  display: inline-block;
}
@media (max-width: 768px) {
  .page404-title {
    font-size: 5rem;
  }

  .page404-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }

  .link-home {
    font-size: 14px;
    margin-top: 15px;
  }
}

