.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;

  &__logo {
    img {
      width: 120px;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
  }

  &__link {
    text-decoration: none;  /* par défaut, pas de soulignement */
    color: #000;
    font-weight: 500;

    &:hover {
      text-decoration: none; /* pas de soulignement au survol si non-actif */
      color: black;
    }
  }

  &__link--active {
    text-decoration: underline; /* seul le lien actif est souligné */
  }

  /* optionnel : hover n'affecte jamais le lien actif */
  &__link--active:hover {
    text-decoration: underline;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .header {
    padding: 16px 18px;

    &__logo {
      img {
        width: 95px;
      }
    }

    &__nav {
      gap: 14px;
    }

    &__link {
      font-size: 15px;
      text-transform: uppercase;
    }

    .page404 {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
