.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;

  &__logo {
    img {
      width: 120px;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
  }

  &__link,
  &__link:link,
  &__link:visited,
  &__link:hover,
  &__link:active {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

  &__link--active {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px 18px;

    &__logo {
      img {
        width: 95px;
      }
    }

    &__nav {
      gap: 14px;
    }

    &__link {
      font-size: 15px;
      text-transform: uppercase;
    }

    .page404 {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}