/* explicaiton code 
  transition: transform 0.3s ease;
  transition = animation 
  : transform = le type danimation 
   0.3s ease; = la viteesse 

.arrow.open {
  transform: rotate(180deg);
  .open = se qui se passe quand linaimton es declancher 
  transform = se qui se passe 
  puis apres les deux poitn quel type de trensome 

 */.collapse {
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #ff6060;
  color: white;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background-color: #fff;
  color: #000;
  padding: 0 20px;
  opacity: 0;
}

.collapse-content.open {
  max-height: 500px;
  padding: 15px 20px;
  opacity: 1;
  margin-left: 110px;
}

@media (max-width: 768px) {
  .collapse-header {
    width: 90%;
    padding: 12px 16px;
  }

  .collapse-content {
    padding: 0 16px;
  }

  .collapse-content.open {
    padding: 12px 16px;
    margin-left: 0;
  }
}

