/* explicaiton code 
  transition: transform 0.3s ease;
  transition = animation 
  : transform = le type danimation 
   0.3s ease; = la viteesse 

.arrow.open {
  transform: rotate(180deg);
  .open = se qui se passe quand linaimton es declancher 
  transform = se qui se passe 
  puis apres les deux poitn quel type de trensome 

 */


.collapse {
  background-color: #ff6060; 
  color: white;            
  margin: 20px 0;           
  border-radius: 10px;      
  overflow: hidden;          
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

.collapse-content {
  padding: 15px 20px;
  background-color: #000000; 
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg); /* flèche vers le haut */
}

.collapse-content.open {
  max-height: 500px;          /* hauteur suffisante pour le texte */
  padding: 15px 20px;         /* padding vertical ajouté */
  opacity: 1;                 /* texte visible */
}