.footer {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.footer-text p {
  margin: 0;
  color: #fff;
}