.fiche {
  max-width: 900px;
  padding: 0 20px 20px 20px;
  font-family: Arial, sans-serif;
  color: #333;

  .image {
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.2);
    }
  }


    .titre {
      h2 {
        margin: 0 0 10px 0;
        font-size: 28px;
        color: #ff6060;
      }
      p {
        margin: 0;
        color: #666;
      }
    }

    .tag {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-left: 20px;

      p {
        background-color: #ff6060;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        margin: 0;
      }
    }
  }

  .bloque2 {
    display: flex;
    justify-content: flex-end; /* Bloc host + rating à droite */
    align-items: center;
    margin-bottom: 20px;

    .hote {
      display: flex;
      align-items: center; 
      gap: 10px;

      .nomimg {
        display: flex;
        align-items: center;
        gap: 8px;

        h4 {
          font-size: 16px;
          margin: 0;
          line-height: 1.2;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .rating {
      display: flex;
      align-items: center; 
      gap: 4px;
      margin-left: 20px;

      span {
        font-size: 25px;
        color: lightgray;

        &.active {
          color: #ff6060;
        }
      }
    }
  }

  .collapses-logement {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: stretch;

    .collapse {
      flex: 1;
      min-height: 4px;
    }

    .collapse-header {
      background-color: #ff6060;
      border-radius: 5px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }
.bloque1 {
  display: flex;
  flex-direction: column; // met les éléments en colonne
  gap : 10px;
}

.bloque2 {

  display: flex;
  flex-direction: column;
  gap : 10px;
}

.bloc.general {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
    margin-bottom: 30px; 
}


  /* ================= MOBILE ================= */
  @media (max-width: 768px) {

    .fiche {
      padding: 0 15px 15px 15px;
    }

    .image {
      margin-bottom: 20px;
      border-radius: 15px;
      overflow: hidden;
    }



    .collapses-logement {
      flex-direction: column;
      gap: 20px;
    }
  }

