.collapse-header {
  background-color: #ff6060;
  color: rgb(247, 247, 255);
  font-weight: bold;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 20px;
  border-radius: 5px;
}

.collapse-title {
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.collapse-arrow {
  width: 16px;
  height: 50px;
  transition: transform 0.3s ease;
  transform: rotate(270deg);

  &.open {
    transform: rotate(90deg);
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  transition: max-height 0.3s ease, padding 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height: 1.5;

  &.open {
    max-height: 500px;
    padding: 12px 16px;
  }

  p,
  li {
    margin: 0 0 8px 0;
    color: #000;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 3px;
  }
}