/* Conteneur principal de la page Home */
.home {
  width: 100%;
}

/* Conteneur de la bannière */
.home .banner {
  margin: 40px 100px 0 100px; /* top 40px, left/right 100px */
}

/* Image de la bannière */
.banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;        /* centre l’image */
  border-radius: 20px;   /* coins arrondis */
  object-fit: cover;
}

/* Texte de la bannière */
.banner-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}